* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
	padding: 50px 0;
}

.sprite {
	display: none;
}

.lock {
  overflow: hidden;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .disable-scroll {
    overflow: hidden;
    user-select: none;
  }
}
