.modal {
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay);
	backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;

	&.active {
		pointer-events: all;
		opacity: 1;

		.modal__content {
			transform: scale(1);
		}
	}

	&__content {
		width: 95%;
		max-width: 800px;
		min-height: 300px;
		max-height: calc(100vh - 40px);
		max-height: calc(100dvh - 40px);;
		padding: 16px;
		display: flex;
		column-gap: 20px;
		color: var(--text);
		background: var(--bg-modal);
		border: 1px solid var(--color-text);
		border-radius: 40px;
		transform: scale(0);
		transition: transform .3s linear;
		overflow-y: auto;
	}

	&__img {
		flex-shrink: 0;

		&-picture {
			width: 310px;
			height: auto;
			border-radius: 40px;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.25;
	}

	&__descr {
		margin-top: 12px;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}

	&__info {
		max-width: 415px;
		padding: 12px 0;
		font-size: 10px;
		font-weight: 600;
		line-height: 1.4;
		border-top: 1px solid var(--border);
		display: flex;
		align-items: flex-start;
		column-gap: 9px;

		.info-label {
			flex-shrink: 0;
			display: inline-block;
			width: 16px;
			height: 16px;
			stroke: var(--text)
		}
	}

	.form {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;

		&__body {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
		}

		&__title {
			font-size: 16px;
			line-height: 1.5;
			font-weight: 400;
		}

		&__sum {
		display: flex;
		justify-content: space-between;
	}

		&__group {
			margin-top: 8px;
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}

		&__label {
			padding: 8px;
			padding-right: 16px;
			font-size: 16px;
			line-height: 1.5;
			font-weight: 600;
			border: 1px solid var(--border);
			border-radius: 100px;
			display: flex;
			align-items: center;
			column-gap: 8px;
			cursor: pointer;
			transition: background-color .3s ease-in-out, color .3s ease-in-out;

			.label__item {
				display: inline-block;
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				color: var(--text);
				background-color: var(--border);
				transition: background-color .3s ease-in-out;
			}
		}

		&__btn {
			width: 100%;
			padding: 10px 20px;
			color: var(--text);
			border: 1px solid #665f55;
			border-radius: 100px;
			transition: color .3s, background-color .3s, border-color .3s;

			&:hover {
				color: var(--inverse);
				background-color: var(--label);
				border-color: var(--label);
			}
		}

		input {
			display: none;
		}
	}
}

.radio-btn:checked + .form__label {
	color: var(--inverse);
	background-color: var(--label);
	border-color: var(--label);

	.label__item {
		background-color: var(--bg-modal);
	}
}

@media screen and (max-width: 576px) {
	.modal__img {
		display: none;
	}
}
