.header {
	margin-top: 20px;
	
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 20px;
	}

	.logo {
		&__img {
			width: 100px;
			height: 60px;
		}
	}

	.actions {
		margin-top: -5px;
		display: flex;
		align-items: center;
		column-gap: 23px;
	}

	.wrapper:not(:has(.nav.open)) .overlay {
		opacity: 0;
		visibility: hidden;
	}

	.wrapper:has(.nav.open) .overlay {
		opacity: 1;
		visibility: visible;
	}
}

.logo__img_dark {
	display: none;
}

[data-theme="dark"] {
  .logo__img_light {
    display: none;
  }

  .logo__img_dark {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
	.header .actions {
		column-gap: 20px;
	}
}

@media screen and (max-width: 850px) {
	.header .wrapper,
	.header .actions {
		column-gap: 15px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 15;
		margin-top: 0;
		padding-top: 20px;
		background-color: var(--bg);
		transition: background-color .3s ease-in-out;
	}
}

@media screen and (max-width: 576px) {
	.header .actions {
		column-gap: 11px;
	}
}
