* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 50px 0;
}

.sprite {
  display: none;
}

@media screen and (max-width: 830px) {
  .disable-scroll {
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url(../fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"), url(../fonts/Inter-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter SemiBoldItalic"), local("Inter-SemiBoldItalic"), url(../fonts/Inter-SemiBoldItalic.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
:root {
  --body: #e0d4ca;
  --bg: #e1d4c9;
  --bg-footer: #665f55;
  --text: #403f3d;
  --accent: #a9754f;
  --inverse: #e1d4c9;
  --border: #c1b6ad;
  --border-inverse: #665f55;
  --overlay: rgba(64, 63, 61, 0.5019607843);
}

[data-theme=dark] {
  --body: #292826;
  --bg: #292826;
  --bg-footer: #403f3d;
  --text: #e1d4c9;
  --accent: #b0907a;
  --inverse: #e1d4c9;
  --border: #665f55;
  --border-inverse: #c1b6ad;
  --overlay: rgba(41, 40, 38, 0.5019607843);
}

body {
  font-family: "Inter", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--body);
  color: var(--text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
}

.text-accent {
  font-style: italic;
  color: #b0907a;
}

.menu {
  padding-top: 15px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .menu .text-accent {
    display: block;
  }
}
.banner {
  padding-top: 15px;
}
.banner .wrapper {
  position: relative;
  z-index: 0;
  padding: 100px;
  border-radius: 40px;
  overflow: hidden;
}
.banner__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  color: var(--inverse);
}
.banner__title {
  font-size: 72px;
  line-height: 1.05;
}
.banner__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.banner__video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  .banner {
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner .wrapper {
    padding: 100px 60px;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    padding-left: 16px;
    padding-right: 16px;
  }
  .banner .wrapper {
    padding: 60px 16px;
  }
  .banner__title {
    font-size: 42px;
    line-height: 1.15;
  }
}
.footer {
  margin: 50px 0 40px;
  color: var(--inverse);
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 100px;
  background-color: var(--bg-footer);
  border-radius: 40px;
}
.footer .wrapper > * {
  flex: 1 1 50%;
}
.footer .social__list {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.footer .social__item {
  line-height: 0;
}
.footer .social__link {
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 50%;
}
.footer .social__link:hover {
  border-color: var(--bg);
  background-color: var(--bg);
}
.footer .social__link:hover .icon {
  stroke: var(--text);
}
.footer .social__link .icon {
  width: 24px;
  height: 24px;
  stroke: #e1d4c9;
  transition: stroke 0.3s ease-in-out;
}
.footer .contacts__title {
  font-size: 24px;
  line-height: 1.25;
}
.footer .contacts__list {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 14px;
}
.footer .contacts__item {
  line-height: 0;
}
.footer .contacts__link {
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}
.footer .contacts__link:hover {
  border-color: #e1d4c9;
}
.footer .contacts__link_time:hover {
  border-color: transparent;
}
.footer .contacts__icon {
  width: 20px;
  height: 20px;
}
.footer .contacts__text {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 992px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer .wrapper {
    padding: 100px 60px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media screen and (max-width: 800px) {
  .footer .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .wrapper .title {
    max-width: 570px;
  }
  .footer .wrapper .title .text-accent {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer .wrapper {
    padding: 60px 16px;
    row-gap: 40px;
  }
}
.header {
  margin-top: 20px;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header .logo__img {
  width: 100px;
  height: 60px;
}
.header .actions {
  margin-top: -5px;
  display: flex;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.header .wrapper:not(:has(.nav.open)) .overlay {
  opacity: 0;
  visibility: hidden;
}
.header .wrapper:has(.nav.open) .overlay {
  opacity: 1;
  visibility: visible;
}

.logo__img_dark {
  display: none;
}

[data-theme=dark] .logo__img_light {
  display: none;
}
[data-theme=dark] .logo__img_dark {
  display: inline-block;
}

@media screen and (max-width: 576px) {
  .header .actions {
    -moz-column-gap: 11px;
         column-gap: 11px;
  }
}
.nav__list {
  margin-top: -8px;
  margin-left: -43px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 37px;
       column-gap: 37px;
}
.nav__link {
  padding: 6px 0;
  color: var(--text);
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.nav__link:hover {
  border-bottom: 2px solid var(--text);
}
.nav__item_md .nav__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.nav__icon {
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
  stroke: var(--text);
}

@media screen and (min-width: 830.5px) {
  .nav__item_md {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .nav__list {
    margin: 0;
  }
}
@media screen and (max-width: 830px) {
  .nav {
    padding: 60px 0;
    position: fixed;
    z-index: 15;
    top: 85px;
    right: -100%;
    width: 100vw;
    height: calc(100vh - 85px);
    height: calc(100dvh - 85px);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 25px;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    transition: right 0.3s linear, opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease-in-out;
  }
  .nav > :last-child {
    margin-bottom: auto;
  }
  .nav.open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 60px;
  }
  .nav__link {
    padding: 0;
    font-size: 32px;
    border: none;
  }
  .nav__link:hover {
    border: none;
  }
  .nav__item_md {
    margin-top: 40px;
  }
}
.burger {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--text);
  border-radius: 50%;
}
.burger__line {
  width: 16px;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  background-color: var(--text);
}
.burger__line:nth-child(1) {
  top: calc(50% - 4px);
  transform: translateX(-50%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}
.burger__line:nth-child(2) {
  top: calc(50% + 4px);
  transform: translateX(-50%) translateY(-100%);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger_open .burger__line:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}
.burger_open .burger__line:nth-child(2) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

.overlay {
  position: fixed;
  z-index: 5;
  inset: 0;
  top: 85px;
  background-color: var(--overlay);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease-in-out, visibility 0.3s linear;
}

@media screen and (min-width: 830.5px) {
  .burger,
  .overlay {
    display: none;
  }
}
.carousel .title {
  text-align: center;
}
.carousel .slider {
  position: relative;
  z-index: 0;
  padding-bottom: 43px;
  touch-action: pan-y;
}
.carousel .slider__wrapper {
  width: 100%;
  display: grid;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.carousel .slider__btn {
  position: absolute;
  top: calc(50% - 22px);
  transform: translateY(-50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .slider__btn_prev {
  left: 5px;
}
.carousel .slider__btn_next {
  right: 5px;
}
.carousel .slider__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.carousel .slider__pagination .bullet {
  width: 40px;
  height: 5px;
  border-radius: 100px;
  background-color: var(--border);
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.carousel .slider__pagination .bullet.active {
  background-color: var(--border-inverse);
}
.carousel .slide {
  grid-area: 1/1;
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 0.5s ease-in-out;
}
.carousel .slide.active, .carousel .slide.next {
  visibility: visible;
}
.carousel .slide__title {
  margin-top: 21px;
  font-size: 24px;
  line-height: 1.25;
}
.carousel .slide__descr {
  max-width: 470px;
  margin-top: 15px;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.carousel .slide__price {
  margin-top: auto;
  font-size: 24px;
}
.carousel .to-left {
  animation-name: left;
}
.carousel .from-right {
  animation-name: right;
}
.carousel .to-right {
  animation-name: right;
  animation-direction: reverse;
}
.carousel .from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@media screen and (max-width: 992px) {
  .carousel .slider__btn_prev {
    left: 0;
  }
  .carousel .slider__btn_next {
    right: 0;
  }
}
@media screen and (max-width: 576px) {
  .carousel .slider__btn {
    display: none;
  }
  .carousel .slider__pagination .bullet {
    height: 4px;
  }
  .carousel .slide__img {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
  }
}
.gallery .imgs {
  -moz-column-count: 2;
       column-count: 2;
  gap: 40px;
  width: 100%;
}
.gallery .imgs__item {
  display: inline-block;
  width: 100%;
  margin-bottom: 36px;
}
.gallery .imgs__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.gallery .imgs__img:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 800px) {
  .gallery .imgs {
    -moz-column-count: 1;
         column-count: 1;
  }
  .gallery .imgs__item:not(:first-child, :last-child) {
    display: none;
  }
  .gallery .imgs__img {
    width: 100%;
    height: 590px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.app {
  padding-top: 10px;
}
.app .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.app__info .title {
  margin: 0;
}
.app__descr {
  max-width: 630px;
  font-weight: 400;
  line-height: 1.5;
}
.app__img {
  flex: 1 1 50%;
}
.app__links {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.app__link {
  display: inline-block;
  width: 200px;
  height: 64px;
  padding: 12px 20px;
  border: 1px solid var(--border-inverse);
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}
.app__link:hover {
  background-color: var(--bg-footer);
}
.app__link:hover .icon {
  fill: #e1d4c9;
}
.app__link .icon {
  width: 122px;
  height: 40px;
  fill: var(--text);
  transition: fill 0.3s ease-in-out;
}
.app__link_gp .icon {
  width: 136px;
}

@media screen and (max-width: 1100px) {
  .app .wrapper {
    flex-direction: column;
    row-gap: 100px;
  }
  .app__descr {
    max-width: 670px;
  }
  .app__img {
    flex: auto;
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media screen and (max-width: 576px) {
  .app__links {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .app .wrapper {
    row-gap: 40px;
  }
}
.menu .title {
  max-width: 800px;
  margin: 0 auto 40px;
  text-align: center;
}

.tabs__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.tabs__nav-btn {
  padding: 8px 16px 8px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 100px;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.tabs__nav-btn:hover {
  color: #e1d4c9;
  border-color: var(--bg-footer);
  background-color: var(--bg-footer);
}
.tabs__nav-btn.active {
  color: #e1d4c9;
  border-color: var(--bg-footer);
  background-color: var(--bg-footer);
}
.tabs__nav-btn.active .tabs__nav-icon {
  background-color: var(--body);
}
.tabs__nav-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.tabs__panel {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
.tabs__panel.active {
  display: flex;
}
.tabs__content {
  margin-top: 39px;
}

@media screen and (max-width: 576px) {
  .tabs__nav {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
button {
  font-family: "Inter", "Verdana", sans-serif;
}

.brn {
  border: 1px solid #665f55;
}

.banner__link {
  width: 200px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: var(--text);
  background-color: var(--bg);
  border-radius: 100px;
}
.banner__link .icon {
  width: 20px;
  height: 20px;
  display: none;
  stroke: var(--text);
}
.banner__link:hover .icon {
  display: block;
}

.menu-btn {
  padding: 0 0 6px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
  display: flex;
  align-items: baseline;
  -moz-column-gap: 6px;
       column-gap: 6px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.menu-btn:hover {
  border-bottom: 2px solid var(--text);
}
.menu-btn__icon {
  width: 20px;
  height: 20px;
  stroke: var(--text);
}

.theme-btn {
  padding: 3px;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
}
.theme-btn:hover .theme-btn__icon:not(.active) {
  fill: #e1d4c9;
  background-color: var(--bg-footer);
}
.theme-btn__icon {
  width: 36px;
  height: 36px;
  padding: 7px;
  border-radius: 100px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
}
.theme-btn__icon_light {
  fill: var(--inverse);
}
.theme-btn__icon_dark {
  padding: 9px;
  fill: var(--text);
}
.theme-btn__icon.active {
  fill: #e1d4c9;
  background-color: #b0907a;
}

.slider__btn {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-inverse);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.slider__btn .btn__icon {
  width: 14px;
  height: 13px;
  fill: none;
  stroke: var(--text);
  transition: stroke 0.3s ease-in-out;
}
.slider__btn:hover {
  border-color: var(--bg-footer);
  background-color: var(--bg-footer);
}
.slider__btn:hover .btn__icon {
  stroke: var(--inverse);
}
.slider__btn_prev .btn__icon {
  transform: scaleX(-1);
}

.tabs__more {
  width: 60px;
  height: 60px;
  display: none;
  padding: 18px;
  border: 1px solid var(--border-inverse);
  border-radius: 50%;
  stroke: var(--text);
}
.tabs__more:hover .icon {
  transform: rotate(90deg);
}
.tabs__more .icon {
  width: 24px;
  height: 24px;
  stroke: var(--text);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .banner__link .icon {
    display: inline-block;
  }
  .tabs__more {
    display: block;
    flex: 0 0 60px;
    margin: 0 calc(50% - 30px);
  }
}
@media screen and (max-width: 830px) {
  .menu-btn {
    display: none;
  }
  .theme-btn {
    padding: 5px 3px;
    -moz-column-gap: 9px;
         column-gap: 9px;
  }
  .theme-btn__icon {
    width: 44px;
    height: 40px;
  }
  .theme-btn__icon_dark {
    padding: 10px;
  }
}
.tabs__more[hidden] {
  display: none !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  width: 100%;
  max-width: 310px;
  text-align: left;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 40px;
}
.card:hover .card__img {
  transform: scale(0.9);
}
.card__img {
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  transition: transform 0.3s ease-in-out;
}
.card__body {
  flex: 1;
  padding: 19px 20px;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.card__descr {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  flex-basis: auto;
}
.card__price {
  margin-top: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}/*# sourceMappingURL=style.css.map */